<link rel="stylesheet" href="/static/css/styles.css"/> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/static/css/styles.css"/> 
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">


<div class="imgZone">
    <img src="/static/image/main.png" class="main_img " onclick="location.href='/page'"">
</div>
<div class="welcome-message" id="userinfo">
    <%=name%>(<%=id%>) 님 
    <br>
    <a href="/page/mypage" class="button-link">마이페이지 이동</a><br><br>
    <a href="/user/logout" class="logout-button"> 로그아웃</a>
</div>


