<link rel="stylesheet" href="/static/css/styles.css"/> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/static/css/styles.css"/> 
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">


<div class="imgZone">
    <img src="/static/image/main.png" class="main_img " onclick="location.href='/page'">
</div>
<div class="container">
    유저 개인정보
    <%=id%> 
</div>
<%- include ("./mypage_content") %>
<div id="mypage">
    
    <%- include ("./mypage_like") %>


