<link rel="stylesheet" href="/static/css/reply.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/js/reply.js"></script>
<script src="/static/js/reply_view.js"></script>
<div id ="modal_wrap">
    <div id="first">
        <div style="width: 250px;margin: 0 auto; padding-top: 20px;"></div>
        <form id="frm">
            <input type="hidden" name="write_group" value="<%=dataList.num%>"><br>          
          <%if(check){%>  <%=name%>(<%=id%>) 님 <br><%}%>
            <input type="text" name="title" placeholder="input title"><br>
            <textarea name="content"  cols="30" rows="5"></textarea><hr>
            <button type="button" onclick="rep()">답글</button>
            <button type="button" onclick="reply_hide()">취소</button>
        </form>
    </div>
</div>